@font-face{
	font-family: 'Noto Sans', sans-serif;
	src: url("https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet");
}

p {
	border: 1px solid powderblue;
	background: powderblue;
	padding: 30px;
	font-family: 'Noto Sans', sans-serif;
}

h1 {
	font-family: 'Noto Sans', sans-serif;
}

body {
	background-color: white;
}

footer {
   	position:absolute;
	bottom:0;
 	width:100%;
}
